<launch>

  <node name="usb_cam0" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="15"/>

  </node>
  <node
    pkg="image_view"
    type="image_view"
    name="image_view0"
    args="image:=/usb_cam0/image_raw"
  />

  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="15"/>

  </node>
  <node
    pkg="image_view"
    type="image_view"
    name="image_view1"
    args="image:=/usb_cam1/image_raw"
  />

  <node name="usb_cam2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="15"/>

  </node>
  <node
    pkg="image_view"
    type="image_view"
    name="image_view2"
    args="image:=/usb_cam2/image_raw"
  />

  <node name="usb_cam3" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video3" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="15"/>

  </node>
  <node
    pkg="image_view"
    type="image_view"
    name="image_view3"
    args="image:=/usb_cam3/image_raw"
  />

  <node
    pkg="topic_tools"
    type="throttle"
    name="throttle"
    args="messages /ravenstate 100.0"
  />

</launch>
